*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item{
    margin-inline: .4rem;
    
}
.navbar{
    background-color: blue;
}

#app{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto minmax(100vh, 1fr) auto;

}
#app > *{
    grid-column: 1/-1;
}
 /* contact starts */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  input[type=submit] {
    background-color: darkslategrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:darkslategrey;
  }

  /* contact ends */